body{
    background: #2a6e94;
    font-family: 'Muli', sans-serif;
}
#tweetTextarea{
    border-radius: 5px;
    border: 2px solid #d3e0e9;
    width: 500px;
    height: 100px;
    padding: 10px;
}
#tweet-form{
    text-align: center;
}
#tweetBtn{
    margin-left: 570px;
}
#buttons-div{
    text-align: center;
}
#submitBtn, #cancelBtn{
    margin: 3px;
}
.tweet{
    border-top: 1px solid #c7e8ff;
    border-left: 1px solid #4cb5ff;
    border-bottom: 1px solid #4cb5ff;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #b9b9b9;
    width: 600px;
    margin: 10px auto 30px auto;
    padding: 3px 7px;
    position: relative;
    background: #3097d105;
}
.tweet-name{
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin: 5px 5px 0 5px;
}
.tweet-text{
    font-size: 14px;
    margin: 15px 15px 5px 15px;
    max-width: 550px;
    word-wrap: break-word;
    border: 1px solid #8dc2e6;
    border-radius: 5px;
    padding: 10px;
}
.tweet-time{
    font-size: 12px;
    font-weight: lighter;
}
.tweet-time-div{
    margin: 0px 5px 0px 5px;
    border-bottom: 2px solid #8dc2e6;;
}
.tweet-updtTime{
    margin-left: 10px;
    font-size: 12px;
    font-weight: lighter;
}
.tweet-icons{
    margin-left: 10px;
}
.up-del-links {
    display: inline-flex;
    position: absolute;
    right: 5px;
}
.comment-link{

}
#msgDltBtn{
    border: none;
    background: none;
    color: red;
}
#msgUpdtBtn{
    border: none;
    background: none;
    color: dodgerblue;
}
#cmntBtn{
    border: none;
    background: none;
    color: green;
}
#cmntShowBtn{
    border: none;
    background: none;
    color: darkslategray;
}
#cmntShowBtn:hover{
    color: green;
    font-weight: bold;
}
#banUserBtn, #banCommBtn, #banMessBtn{
    border: none;
    background: none;
    color: saddlebrown;
}
#banUserBtn a, #banCommBtn a, #banMessBtn a{
    text-decoration: none;
    color: saddlebrown;
}
.comment-name{
    font-weight: bold;
    font-size: 12px;
    color: black;
}
.comment-time{
    margin-left: 10px;
    font-size: 10px;
    font-weight: lighter;
}
.comment-updtTime{
    margin-left: 10px;
    font-size: 11px;
    font-weight: lighter;
}
.comment-text{
    font-size: 12px;
    margin: 3px 5px;
    max-width: 450px;
    word-wrap: break-word;
    border-bottom: 1px solid #8dc2e6;
}
.comments-container{
    margin: 7px 7px;
    padding: 10px;
}
.btn-warning a{
    text-decoration: none;
    color: white;
}
#comment-form, #tweet-update-form{
    text-align: center;
}